.App {
  text-align: center;
}

.TODO-App {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: stretch;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.Left-panel {
  display: flex;
  height: 100%;
  width: 400px;
  background: #C4C4C4;
}
.Right-panel {
  display: flex;
  height: 100%;
  width: calc(100% - 400px);
  right: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 400px;
}
.Right-panel > div {
  width: 100%;
}
.TODO-form {
  width: 400px;
}
.TODO-label-container {
  width: 100%;
  border-bottom: 2px solid #9A9A9A;
}
.TODO-label {
  font-weight: 500;
  font-size: 36px;
  line-height: 43.57px;
  font-family: 'Inter';
  margin: 15px 20px;
}
.TODO-list {
  width: 100%;
}
.Todo-Item-Description-Label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 30px;
}
.Add-field {
  width: 316px;
  height: 63px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 5px;
  display: flex;
}
.Add-Todo {
  height: 67px;
  bottom: 10px;
  right: 0;
  left: 0;
  position: absolute;
  padding: 5px;
  display: flex;
}
.Todo-Item {
  width: 370px;
  height: 60px;
  background: #DFDFDF;
  border-radius: 10px;
  margin: 5px;
  display: inline-flex;
}
.Todo-Button {
  width: 22px;
  height: 22px;
  background: #C4C4C4;
  color: #C4C4C4;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin: 20px 10px;
  padding: 0;
}
.Todo-Button-Active {
  background: #6DBE75;
  color: black;
}
.Todo-Item-Details {
  padding: 20px 40px;
}
.Todo-Item-Change-Details {
  width: 100%; 
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 154px;
}
.History-Div {
  bottom: 0;
  right: 40px; 
  left: 40px;
  position: absolute;
  height: 150px;
  overflow: auto;
}
.Todo-Item-Info {
  display: block;
  width: 100%;
  padding: 5px;
}
.Todo-Item-Selected {
   background-color: #DAF0E6;
}
.Todo-Item-Title {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}
.Todo-Item-Description {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
}
.Add-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: white;
  background-color: #6DBE75;
  display: flex;
  height: 50px;
  width: 50px;
  margin: 12px 7px;
  border-radius: 4px;
  padding-left: 14px;
  border: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Todo-Items-Done {
  text-decoration: line-through;
}
.App-link {
  color: #61dafb;
}
.History-Message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  border-top: 2px solid black;
  padding: 5px;
}
.History-Message > div {
  display: inline-flex;
}
.History-Label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px
}
.Nothing-Label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #BBBBBB;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  width: 100%;
}
